-
  const link = user ? "/add-success" : "/login";
  
.header-dock.header-dock--color.header.dock
  div(class="justify-self-start" title=`${iconText_goBack}`)
    if url !=="/"
      svg.dock__icon(id="go-back")
        use(xlink:href="../img/icons.svg#icon-arrow-thick-left")

  div(class="justify-self-center" title=`${iconText_addSuccess}`)
    if url!=="/add-success"
      a(href=`${link}`)
        svg.dock__icon 
          use(xlink:href="../img/icons.svg#icon-square-plus-solid")
    else
      h2.dock__text ADD SUCCESS
