header.header-dock.header-dock--color.header
  a(href='/' alt="Success" title="Success")
    svg.header__logo
      use(xlink:href="../img/icons.svg#icon-goal-skeleton")
  
  a(href='/' title="Success")
    h1.header__text SUCCESS

  if user
    a(href="/user-edit" title=`${iconText_userEdit}`)
      svg.header__icon 
        use(xlink:href="../img/icons.svg#icon-user")

  else
    a(href="/login" title=`${iconText_login}`)
      svg.header__icon 
        use(xlink:href="../img/icons.svg#icon-arrow-right-to-bracket")