header.header
  svg.header__logo
    use(xlink:href="img/icons.svg#icon-goal-skeleton")
  h1.header__text SUCCESS

  if user
    a(href="#")
      svg.header__icon 
        use(xlink:href="img/icons.svg#icon-user")
  
  else
    a(href="/login")
      svg.header__icon 
        use(xlink:href="img/icons.svg#icon-log-in")