- const userTheme = user && user.theme==="dark" ? user.theme : "";

doctype html
//- TODO sayfa yenilemelerinde göz kırpma oluyor. Sorun front end js den kaynaklanıyor. Bu durumu backend ile çöz.
html(class=`${userTheme}`)
  head
    block head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        title Success | #{title}

  body.body-color.background-glamorous
    .layout
      .page-wrapper
        // HEADER
        include _header

        // CONTENT
        main.main
          block content
            h1 This is a placeholder heading
        
        // FOOTER
        include _dock
    

    script(src='/js/bundle.js')
