extends base

block content
  main    
    .success-list
      each success in success_list
        .success-card 
          h2.success-card--header= success.header
          p.success-card--date= moment(success.date).format("DD.MM.YYYY")
          p.success-card--user-name= success.user.name
          p.success-card--detail= success.detail