extends base
include _success-card

block content
  if userSuccessList.length !== 0
    h1.page-header(class="mt-4 mb-8")= `${successUserName} Success List`
    .success-list
      if userSuccessList.length !== 0
        each success in userSuccessList
          +success-card(success)
  else
    h1.page-header(class="mt-4 mb-8")
      div= successUserName
      div(class="text-orange-600 mt-6")= `The user doesn't have any success entries!`